.login-form {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 4px 4px 47px 15px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: row;

  &__left-side {
    height: 100%;
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 76px;
    color: rgb(0, 0, 0);
  }

  &__title {
    margin-bottom: 16px;
    font-family: Fira Sans, sans-serif;
    font-size: 1.111rem;
  }

  &__description {
    font-style: italic;
    margin: 0 24%;
    text-align: center;
  }

  &__right-side {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  &__btn-tip {
    align-self: flex-end;
  }
}