@import '../../../enums/breakpoints.scss';

.login-form {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 4px 4px 47px 15px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-screen-size) {
    background-color: var(--primary-bgc-color);
    height: 90%;
  }

  &__left-side {
    height: 100%;
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet-screen-size) {
      width: 0;
      position: relative;
    }
  }

  &__brand-logo {
    @media (max-width: $tablet-screen-size) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }

  &__right-side {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;

    @media (max-width: $tablet-screen-size) {
      width: 100%;
    }
  }

  &__btn-tip {
    align-self: flex-end;
  }
}