@import '../../../enums/breakpoints.scss';

.auth-form {
  font-family: Fira Sans, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 74%;

  @media (max-width: $tablet-screen-size) {
    margin-top: 1.4rem;
    margin: auto 0;
  }

  &__title {
    font-size: 1.11rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1.6rem;
    align-self: center;
    text-align: center;
  }

  &__confirm-password {
    margin-top: 0.76rem;
  }

  &__tip-btn {
    align-self: flex-end;
  }

  &__primary-button-wrapper {
    margin-top: 3rem;
  }
}