:root {
  --primary-text-color: rgb(82, 82, 82);
  --primary-bgc-color: #fff;
  --primary-turquoise: rgb(8, 255, 200);
  --hover-turquoise: rgb(8, 219, 173);
  --orange-color: #ff8a5c;
  --orange-color-hover: #f08257;
}