:root {
  --primary-text-color: rgb(82, 82, 82);
  --light-text-color: rgb(112, 112, 112);
  --primary-bgc-color: #fff;
  --smoke: rgb(246, 246, 246);
  --primary-turquoise: rgb(8, 255, 200);
  --hover-turquoise: rgb(8, 219, 173);
  --orange-color: #ff8a5c;
  --orange-color-hover: #f08257;
  --deep-orange: rgb(255, 100, 73);
  --deep-orange-hover: rgb(233, 91, 66);
  --deep-blue: rgba(0, 123, 255, .5);

  --positive-color: #21c87a;
  --negative-color: #da292e;
  --neutral-color: #007bb6;
  --light-neutral-color: #4eb8e9;
}