:root {
  --primary-text-color: rgb(82, 82, 82);
  --light-text-color: rgb(112, 112, 112);
  --primary-bgc-color: #fff;
  --primary-turquoise: rgb(8, 255, 200);
  --hover-turquoise: rgb(8, 219, 173);
  --orange-color: #ff8a5c;
  --orange-color-hover: #f08257;

  --positive-color: #21c87a;
  --negative-color: #da292e;
  --neutral-color: #007bb6;
  --light-neutral-color: #4eb8e9;
}