@import '../enums/breakpoints.scss';

:root {
  font-size: 18px;

  @media (max-width: $tablet-screen-size) {
    font-size: 16px;
  }

  @media (max-width: $mobileL-screen-size) {
    font-size: 14px;
  }
}

#root {
  height: 100%;
  width: 100%;
}