.colors-page {
  font-family: Fira Sans, sans-serif;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.4rem;
  }
}






// .users-page {
//   font-family: Fira Sans, sans-serif;
//   color: var(--primary-text-color);
//   display: flex;
//   flex-direction: column;

//   &__title {    
//     font-weight: 600;
//     font-size: 2.5rem;
//   }

//   &__description {
//     font-size: 0.9rem;
//   }