$side-padding: 1.4rem;

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.44);
  z-index: 100;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 1.91rem;
  overflow: hidden;
  animation-name: show-modal;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(.64,.38,.42,.46);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

@keyframes show-modal{
  0% {
    top: 0;
    opacity: 0;
    transform: translateY(-100%);
  }
  40% {
    opacity: 0;
  }
  88% {
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
}

.content {
  height: 72%;
  padding: 0 $side-padding;
  margin-bottom: 3rem;
  display: flex;
  font-family: 'Open Sans', sans-serif;

  &__icon {
    height: 1.06rem;
    width: 1.06rem;
    border-radius: 50%;
    border-width: 1rem;
    border-color: var(--light-neutral-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__iconExclamationMark {
    color: var(--neutral-color);
    font-size: 1.6rem;
    position: absolute;
    z-index: 100;
  }

  &__text {
    margin-left: $side-padding;
  }

  &__title {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    margin-bottom: 0.89rem;
  }

  &__description {
    color: var(--light-text-color);
    font-weight: 500;
    line-height: 1.4rem;
  }
}

.actions {
  height: 28%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 1rem $side-padding;
}