@import '../../enums/breakpoints.scss';

.burgerMenu {
  display: flex;
  align-items: center;
}

.checkbox {
  visibility: hidden;
  display: none;

  @media (max-width: $mobileL-screen) {
    display: block;
  }
}

.burgerToggle {
  display: none;
  align-items: center;
  height: 20px;
  width: 26px;
  position: relative;

  &__slice {
    width: 100%;
    height: 2px;
    background-color: grey;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: grey;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 150ms ease;
      transition-delay: 10ms;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: grey;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 150ms ease;
      transition-delay: 10ms;
    }
  }

  @media (max-width: $mobileL-screen) {
    display: flex;
  }
}

.checkbox:checked ~ .burgerToggle > span::before {
  transform: rotate(45deg);
  top: 50%;
}

.checkbox:checked ~ .burgerToggle > span::after {
  transform: rotate(-45deg);
  top: 50%;
}

.checkbox:checked ~ .burgerToggle > span {
  background-color: var(--primary-bgc-color);
}

.navigation__mobile-version {
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 200ms ease-out;
  overflow: hidden;

  &_hidden {
    display: none;
  }

  @media (max-width: $mobileL-screen) {
    display: flex;
  }
}

.checkbox ~ .navigation__mobile-version {
  height: 0;
}

.checkbox:checked ~ .navigation__mobile-version {
  height: 138px;
}

// .checkbox ~ .navigation__mobile-version > a {
//   display: none;
//   height: 0;
//   transition-delay: 110ms;
//   transition: all 100ms ease;

//   @media (min-width: $mobileL-screen) {
//     display: flex;
//     flex-direction: row;
//   }
// }

// .checkbox:checked ~ .navigation__mobile-version > a {
//   display: flex;
//   height: fit-content;

//   &:last-child {
//     display: none;

//     @media (max-width: $mobileL-screen) {
//       display: flex;
//     }
//   }
// }