.main {
  height: calc(100% - var(--header-height) - var(--footer-height));
  padding: var(--main-padding);
  padding-top: calc(2 * var(--main-padding));
  box-sizing: border-box;
  background-color: whitesmoke;
  overflow-y: auto;
}