@import '../../enums/breakpoints.scss';

.main {
  height: 100%;
  flex-shrink: 1;
  padding: var(--main-padding);
  padding-top: calc(2 * var(--main-padding));
  box-sizing: border-box;
  background-color: var(--smoke);
  overflow-y: auto;
}