.users-page {

  &__users {
    display: flex;
    flex-wrap: wrap;
  }
}

.users-page__title {
  margin-bottom: 18px;
}

.person-id-card {
  height: 180px;
  width: 320px;
  border-radius: 6px;
  background-color: #fff;
  margin-right: 14px;
  margin-bottom: 14px;
  display: flex;

  &__img {
    border-radius: 9999px;
    height: 66px;
    width: 66px;
  }
}