.footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-height: 400px) {
    display: none;
  }
}

.logoWrapper {
  font-size: 14px;
}