@import '../../../enums/breakpoints.scss';

.logo {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &__img {
    padding: 2px;
    background-color: var(--deep-blue);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    font-size: 18px;

    &_negative {
      background-color: rgb(167, 167, 167);
      font-size: 1rem !important;
    }
  }

  &__img-icon {
    font-size: inherit;
    color: #fff;

    &_negative {
      color: rgb(207, 207, 207);
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange-color);
    text-transform: capitalize;
    vertical-align: middle;

    &_negative {
      font-size: inherit;
      color: rgb(192, 192, 192);
    }
  }

  &__ordinaryText {
    display: inline-block;
    text-transform: lowercase;

    @media (max-width: calc($mobileL-screen + 36px)) {
      display: none;
    }
  }
}